
<% if @stories %>
  <% @stories.each do |story| %>
    <h2> <%= link_to story.headline, story_path(story) %> </h2>
    <p> <%= story.details %> </p>
  <% end %>
<% else %>
  No stories yet
<% end %>

<a href='/stories/new'>Add a story</a>
